.test{
  background-color: blue; 
  opacity:50%;
}
.test2{
  background-color: red; 
  opacity:50%;
}
body {

background-image: url(../img/fondo2.png);
   



  
}
#header{
    height:170px;
     width: 100%;

       margin-bottom: 1px;
}
#banner{
    
     
     background-image: url(../img/banner.png);
     background-repeat: no-repeat;

       margin-left: 10%;
       margin-right: 10%;
       margin-top: 3%;

}
#bannersm{
    

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;

}
#content{
   
}

#footer{
    height:370px;
     
     background-image: url(../img/Footer.png);
     background-repeat: no-repeat;
       margin-left: 15%;
       margin-right: 10%;

}